.lo{
    position: fixed;
    height: 7vh;
    left: 0px;
    width: 200px;
}
.navbar{
    background-color: chocolate;
   
    
}
nav ul {
    overflow: auto;
   
 
 }
.navbar li{
    float:right;
   list-style: none;
   margin: 10px 10px;

}
.navbar li a{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    
}
.ser{
    float: right;
    color: white;
    padding: 12px 5px;
   
}
.navbar input{
    border: 3px solid black;
    border-radius: 5px;
    padding: 4px 3px;
}
body{
    background-image:url(./logo.avif);
    background-size:cover;
    background-repeat: no-repeat;

}

p{
        color: black;
        background-color: white;
        text-align: center;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 50px;
    
 }
 